{% extends "base.html" %}

{% block title_prefix %}No existe la página{% endblock %}


{% block content %}
<h1>Page not found</h1>

<p>Desafortunadamente.<br>
No existe la página.
</p>


{% endblock %}
