{% extends "base.html" %}

{% block title_prefix %}Error Servidor Interno{% endblock %}

{% block extrahead %}
<style>
p { margin: 30px 0; }

.content input.search-query {
  font-size:1.1em;
  font-weight: bold;
  width: 500px;
}
</style>
{% endblock %}

{% block content %}
        <h1 style="text-align:center">Error con el servidor interno.</h1>
        <p style="text-align:center">
        <br><br>
        Lo siento, la página esta en desarrollo, posteriormente se solucionará este pequeño desperfecto. </p>
{% endblock %}
