{% extends "base.html" %}

{% block title_prefix %}Acerca{% endblock %}

{% block content %}
<h2>Acerca de este sitio</h2>

<p>Mi nombre es David Vilchez.<br>
Este sitio alojará todas las cosas que iré haciendo y pasan por mi cabeza.<br>
Soy un chico que le gusta bastante curiosear y aprender la eletrónica, programación, sistemas operativos, dibujar, hacer animaciones en Blender, leer libros y sobre todo escuchar música.
</p>


<p>Actualmente la página esta en desarrollo, proximamente estaré compartiendo el código por github y realizando mejoras y habilitando comentarios, rss, markdown y pygments en la página.</p>

</p>

{% endblock %}
