{% extends "base.html" %}

{% block title_prefix %}Archivos{% endblock %}

{% block content %}

{% for post in object_list %}

<p>{{ post.created|date:"Y-m-d" }}: <a href="/{{post.id}}">{{ post.title }}</a></p>


{% endfor %}

{% endblock %}