<!DOCTYPE html>
<html lang="en">
	<meta charset="utf-8">
	<title>{% block title %}{% block title_prefix %}{% endblock %} - Davidvilchez.com{% endblock %}</title>
	<meta name="description" content="Stuff in David's head">
	<meta name="copyright" content="David Vilchez">
<link href="/static/css/main.css" rel="stylesheet" />
<link href="/static/css/bootstrap.min.css" rel="stylesheet" /> 
<!--<link rel="stylesheet" href="{{ STATIC_URL }}css/bootstrap.min.css" />-->
<!--<link rel="stylesheet" href="/static/css/pygments/tango.css"/> -->
<body>
<div class="navbar navbar-fixed-top">
      <div class="navbar-inner">
              <div class="container">
			<a class="brand" href="/"><span class="logo-text">Davidvilchez.com</span></a>
			
			<div class="pull-right">
				<ul class="nav">
					<li><a href="/archivos">Archivos</a></li>
					<li><a href="/acerca">Acerca</a></li>
					<li><a href="/contacto">Contacto</a></li>
				</ul>
			</div>
		</div>
	</div>
</div>

<div class="container">
	{% block pre_content %}
	{% endblock %}
	<div class="content">
		{% block content %}

		<div class="row">
			<div class="span16">
				<div class="page-header">
					<h1>
						{% block content_title %}About Us <small>What do we do?</small>{% endblock %}
					</h1>
				</div>
			</div>
		</div>
                {% block content_body %}
                {% endblock %}
                {% endblock %}

	</div>
</div>
<div class="footer-style">
	<p class="footer-text">
		&copy; davidvilchez.com 2008 - 2013
		<br />
		Version 1.0 - Por: David Vílchez - <a href="https://www.djangoproject.com/"><img src="https://www.djangoproject.com/s/img/badges/djangomade124x25.gif" width="124px" height="25px"></a> <a href="http://www.python.org/"><img src="http://python.6.x6.nabble.com/attachment/2148036/0/python-logo-transparent.png" width="125px" height="42px"></a>
	</p>
	
</div>
{% block extrajs %}{% endblock %}

</body>
</html>
