{% extends "base.html" %}

{% block title %}Davidvilchez.com - Stuff in David's head{% endblock %}

{% block pre_content %}
<header class="jumbotron masthead">
  <div class="inner">
    <h1>atoq</h1>  
    <p>"Simplicity is the ultimate sophistication"</p>
  </div>
</header>
{% endblock %}

{% block content %}

{% for post in object_list %}

		<div class="row">
			<div class="span12">
				<div class="page-header">
					<h1>

							<a href="/{{post.id}}">{{ post.title }}</a><br>
							<small style="float:right">	
									
							 	 {{ post.created }}

							</small>
							<small>0 comment</small>

							<!--<div class="tags">-->
							  {% for tag in post.tags.all %}
								{% if forloop.first %}&nbsp; <small>{% endif %}
								  <a href="/tag/{{tag}}">{{tag}}</a>	
								{% if not forloop.last %}, {% endif %}
			                                          {% if forloop.last %}</small>{% endif %}	
							  {% endfor %}
							<!--</div>-->
					</h1>

				</div>
						<!--	<div class="post_body"> -->
                                                          {{ post.body|safe|linebreaks }}
                                                <!--     </div> -->
					
				
			</div>
		</div>

{% endfor %}

<ul class="pager">
  {% if previous_page %}
    <li class="previous">
    <a href="?page={{ previous_page }}">&larr; Newer</a>
    </li>
  {% endif %}
  {% if next_page %}
    <li class="next">
    <a href="?page={{ next_page }}">Older &rarr;</a>
    </li>
  {% endif %}
</ul>

{% endblock %}
