{% extends "base.html" %}

{% block title_prefix %}Contacto{% endblock %}

{% block extrahead %}
<style>
/*div.span4 { margin-top:30px; margin-bottom:20px; }*/
</style>
{% endblock %}

{% block content %}
<h2>Contacto</h2>

  <div class="row">
    <div class="span4">
      <h3>Email</h3>
      <p><a href="mailto:mail@davidvilchez.com">mail@davidvilchez.com</a></p>
    </div>

    <div class="span4">
      <h3>Twitter</h3>
      <p><a href="https://twitter.com/puercoarana">twitter.com/puercoarana</a></p>
    </div>

    <div class="span4">
      <h3>Github</h3>
      <p><a href="https://github.com/puercoarana">github.com/puercoarana</a></p>
    </div>
    
    <div class="span4">
      <h3>Bitbucket</h3>
      <p><a href="https://bitbucket.com/atoq">bitbucket.com/atoq</a></p>
    </div>

    <div class="span4">
      <h3>Google Plus</h3>
      <p>
      <a rel="author" href="https://profiles.google.com/104276315469180910427">
        <img src="http://ssl.gstatic.com/images/icons/gplus-16.png" width="16" height="16">
      </a>
      <a href="https://profiles.google.com/104276315469180910427">https://profiles.google.com/104276315469180910427</a></p>
    </div>

  </div>


{% endblock %}