{% extends "base.html" %}

{% block content %}

<h2>Posts etiquetados: {{tag}}</h2>

{% for post in posts %}

<p>{{ post.created|date:"Y-m-d" }}: <a href="/{{post.id}}">{{ post.title }}</a></p>


{% endfor %}

{% endblock %}
